* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  width: 100%;
  background-color: #20211f;
  font-size: 1em;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
}
main {
  width: 60%;
  margin: 0 auto;
}
h3 , h2 {
  padding-top: 1.5rem;
}
select{
    width: 100%;
    height: 2vh;
}
#contenedor1 img {
  width: 100%;
}
#contenedor2 {
  display: flex;
  margin: 0 5px;
  font-size: 0.9em;
  justify-content: center;
  width: 100%;
}
#contenedor2 img {
  width: 100%;
}
.viaje {
  border: 0.3px solid grey;
  margin: 7px;
}
.viaje-texto {
  padding: 5px;
}

@media screen and (max-width: 600px) {
  #contenedor2 {
    display: block;
  }
}
